[uwsgi]
# specicy workers, please change this according to the server capacity
workers = 1
max-requests = 3
enable-threads = true

#set socket listen queue to <n> (default 100, maximum is system dependent)
socket = :9039

# set close-on-exec flag on the uWSGI socket. This will avoid external processes generated in a request to inherit the socket file descriptor.
close-on-exec = true

# change to django project directory

# at the root of uwsgi
base = /usr/src/app
chdir = %(base)

# log
logto = %(base)/logs/uwsgi/uwsgi.log
logdate = true
logslow = true
logbig = true
log-5xx = true

# load application
module = so-dashboard.wsgi:application

# use master process
master = true

# use harakiri to kill requests cosing more than 20 seconds
harakiri = 20

# you will be told why killed in detail
harakiri-verbose = true

# Some of the supported languages (like python) has the concept of "multiple interpreters". They allows to isolate apps living in the same process. If you do not want this kind of feature use this option.
single-interpreter = true
